.tabela1{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela2{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela3{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela4{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela5{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela6{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela7{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela8{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela9{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.tabela10{
    text-align: center;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

.img1{
    width: 25px;
    height: 20px;
}

.img2{
    width: 25px;
    height: 20px;
}
.img3{
    width: 25px;
    height: 20px; 
}

.img4{
    width: 25px;
    height: 20px;
}

.img5{
    width: 25px;
    height: 20px;
}

.img6{
    width: 25px;
    height: 20px;
}

.img7{
    width: 25px;
    height: 20px;
}

.img8{
    width: 25px;
    height: 20px;
}

.img9{
    width: 25px;
    height: 20px;
}

.img10{
    width: 25px;
    height: 20px;
}

.img11{
    width: 25px;
    height: 20px;
}

.img12{
    width: 25px;
    height: 20px;
}

.img13{
    width: 25px;
    height: 20px;
}

.img14{
    width: 25px;
    height: 20px;
}

.img15{
    width: 25px;
    height: 20px;
}

.img16{
    width: 25px;
    height: 20px;
}

.img17{
    width: 25px;
    height: 20px;
}

.img18{
    width: 25px;
    height: 20px;
}

.img19{
    width: 25px;
    height: 20px;
}

.img20{
    width: 25px;
    height: 20px;
}

.img21{
    width: 35px;
    height: 30px;
}

.img22{
    width: 35px;
    height: 30px;
}

.img23{
    width: 35px;
    height: 30px;
}

.img24{ 
    width: 35px;
    height: 30px;
}

.img25{
    width: 35px;
    height: 30px;
}

.img26{
    width: 35px;
    height: 30px;
}

.img27{
    width: 35px;
    height: 30px;
}

.img28{
    width: 35px;
    height: 30px;
}

.img29{
    width: 35px;
    height: 30px;
}

.img30{
    width: 35px;
    height: 30px;
}

.div1{
    float: right;
    top: 500px;
    left: 500px;
}

.classificaçaoGeral{
    background-color: red;
    color: black;
    font-weight: bold;
}

.divMenu{
    background-color: red;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
}

.logoF1{
    height: 40px;
    margin: 5px 5px 5px 5px;

}

.titulo{
    position: fixed;
    top: 15px;
    right: 500px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.logoFIA{  
    height: 40px;
    margin: 5px 1300px 5px 1100px;
}