.tabela1{
    text-align: center;
    background-color: #d3d3d3;
}

.tabela2{
    text-align: center;
    background-color: #d3d3d3;
}

.tabela3{
    text-align: center;
    background-color: #d3d3d3;
}

.tabela4{
    text-align: center;
    background-color: #d3d3d3;
}

.tabela5{
    text-align: center;
    background-color: #d3d3d3;
}

.tabela6{
    text-align: center;
    background-color: #d3d3d3;
}

.tabela7{
    text-align: center;
    background-color: #d3d3d3;
}

.tabela8{
    text-align: center;
    background-color: #d3d3d3;
}