td{
    border: 600px;
}

.titulo{
    color:white;
    background-color: #0D5188
}

.posiçao1{
    background-color: #66C5E3
}
.posiçao2{
    background-color:  #66C5E3
}
.cidade1{
    background-color:#66C5E3
}
.cidade2{
    background-color:#66C5E3
}
.pop1{
    background-color:#66C5E3
}
.pop2{
    background-color:#66C5E3
}

.numero1{
    background-color: gray;
}
.numero2{
    background-color: gray;
}
.numero3{
    background-color: gray;
}
.numero4{
    background-color: gray;
}